# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
pip-wheel-metadata/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite3

# Delta / lakehouse data
subcontext-c-lakehouse/notebooks/data/
